header {
  background-image: linear-gradient(to bottom right, black, white);
}
h1 {
  display: flex;
  justify-content: center;
  color: white;
  margin: 0;
  padding: 50px 0px;
}
select {
  display: block !important;
}

.page-headers {
  display: flex;
  justify-content: center;
}

.addBtn {
  margin: 10px 0px;
  width: 100%;
}

#chooseMonthModalButton {
  padding: 10px 0px;
  width: 100%;
}

#monthlyHeader {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#addItemBtn {
  width: 100%;
}

#clearItemsBtn {
  width: 100%;
}
#dropdownBtn {
  width: 100%;
}

#expenseTable {
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
}
.itemName {
  background-color: rgba(255, 0, 0, 0.65);
  margin: 5px 0px;
  padding: 5px;
  border-radius: 10px;
}
.expenseTypeIncome {
  background-color: rgba(0, 128, 0, 0.65);
  margin: 5px 0px;
  padding: 5px;
  border-radius: 10px;
}
.yearItem {
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin: 5px 0px;
  border-radius: 5px;
}
.lossTotal {
  background-color: red;
  padding: 1px;
}
.profitTotal {
  background-color: green;
  padding: 1px;
}

.modalHeader {
  background-color: #009688;
}

.expenseInput {
  width: fit-content;
}
