html body {
  width: 100vw;
}
header {
  background-image: url('../images/moneyInWallet.jpeg');
  background-size: cover;
  height: 500px;
  width: 100%;
  justify-content: center;
}
h1 {
  text-align: center;
  color: white;
  margin: 0 200px;
  padding: 50px 0px;
  background-color: rgba(0, 0, 0, 0.4);
}
ul {
  text-align: center;
  font-size: large;
  font-weight: 700;

  padding: 15px 0px;
  color: rgb(255, 255, 255);
  background-color: rgba(25, 56, 25, 0.8);
  margin: 18px 300px;
}

select {
  display: block !important;
}
td {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}
th {
  text-align: center;
}
tbody > tr {
  border-bottom: 3px solid black;
}

tbody > tr:last-child {
  border: none;
}
tbody > tr > td {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
tbody > tr > td:first-child {
  border-left: none;
  width: 50%;
}
tbody > tr > td:last-child {
  border-right: none;
}

#chooseMonthModalButton {
  padding: 10px 0px;
  width: 100%;
}
#monthlyHeader {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#addItemBtn {
  width: 100%;
}
#clearItemsBtn {
  width: 100%;
}
#dropdownBtn {
  width: 100%;
}
#expenseTable {
  background-color: gray;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.page-headers {
  display: flex;
  justify-content: center;
}
.addBtn {
  margin: 10px 0px;
  width: 100%;
}
.itemName {
  background-color: rgba(255, 0, 0, 0.65);
  margin: 5px 0px;
  padding: 5px;
  border-radius: 10px;
}
.expenseTypeIncome {
  background-color: rgba(0, 128, 0, 0.65);
  margin: 5px 0px;
  padding: 5px;
  border-radius: 10px;
}
.yearItem {
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin: 5px 0px;
  border-radius: 5px;
}
.lossTotal {
  background-color: red;
  padding: 1px;
}
.profitTotal {
  background-color: green;
  padding: 1px;
}

.modalHeader {
  background-color: #009688;
  padding: 10px;
  border-radius: 2px;
}

.expenseInput {
  width: fit-content;
}
.income {
  background-color: rgba(4, 90, 4, 0.65);
  color: white;
}
.expense {
  background-color: rgba(151, 0, 0, 0.65);
  color: white;
}
.width100 {
  width: 100%;
}

@media screen and (max-width: 992px) {
  tbody > tr > td:first-child {
    width: auto;
  }
  tbody > tr {
    border-bottom: none;
  }

  tbody > tr:last-child {
    border: none;
  }
  tbody > tr > td {
    border-left: none;
    border-right: none;
  }
  tbody > tr > td:first-child {
    border-left: none;
  }
  tbody > tr > td:last-child {
    border-right: none;
  }
  #addItemBtn {
    margin-top: 20px;
  }
  ul {
    margin: -50px 0px 18px 0px;
  }
  header {
    background-image: url('../images/moneyInWallet.jpeg');
    background-size: cover;
    height: 400px;
    width: 100%;
    justify-content: center;
  }
  h1 {
    padding: 0px;
    margin: 0px 0px 50px 0px;
  }
}
@media screen and (max-width: 340px) {
  h1 {
    font-size: 40px;
  }
  ul {
    margin-top: -30px;
  }
}
